## Train_msno:

In [1]:
import numpy as np

Train_msno=np.load('Train_msno_and_label_order.npy',allow_pickle=True)

In [2]:
Train_msno.shape

(956327, 2)

## Transactions

In [4]:
import pandas as pd

transaction=pd.read_csv('transactions.csv')

In [4]:
transaction.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

### Select transaction period on or before 2016-12-31:

In [5]:
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column
transaction_before_jan=transaction[transaction['transaction_date'].le(20161231)]

In [6]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
...,...,...,...,...,...,...,...,...,...
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,20151030,20151129,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,20161129,20161229,0
21547744,a84q/Ts47Oyyqc1N1WRasBdbgYSF/f3uqBcEAPNemoM=,41,30,99,99,1,20161130,20161231,0
21547745,oE4y2wK5E7OR8zyrCHeW02uTeI6wTwT4QTApEVBNEdM=,41,30,149,0,1,20151029,20151029,1

In [7]:
transaction_before_jan=transaction_before_jan[transaction_before_jan['msno'].isin(Train_msno[:,0])]

In [8]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
5,KN7I82kjY0Tn76Ny95ncqBUVbO7b8AXrOPqZutKpxIM=,21,30,149,149,1,20150930,20151107,0
6,m5ptKif9BjdUghHXXomSezy5ohJiHm85PE13f/3kQaw=,39,30,149,149,1,20150930,20151128,0
7,uQxbyACsPOEkTIrv9jZgoGXelGBW81ZsSZKy9fhj5Z8=,39,30,149,149,1,20150930,20151125,0
...,...,...,...,...,...,...,...,...,...
21547740,tBYKG/I8+BAQ4BTrc0QT67BDurFV1QFJIc/1qhbZXj4=,41,30,99,99,1,20151030,20151130,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,20161129,20161229,0
21547744,a84q/Ts47Oyyqc1N1WRasBdbgYSF/f3uqBcEAPNemoM=,41,30,99,99,1,20161130,20161231,0
21547745,oE4y2wK5E7OR8zyrCHeW02uTeI6wTwT4QTApEVBNEdM=,41,30,149,0,1,20151029,20151029,1

In [9]:
transaction_before_jan=transaction_before_jan.sort_values(by=['msno', 'transaction_date'],ascending=[True,True])

In [10]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0
...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

In [11]:
#remove is_cancel=1 transactions
transaction_before_jan=transaction_before_jan[transaction_before_jan['is_cancel']==0]

In [12]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0
...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

In [13]:
transaction_before_jan['discount']=transaction_before_jan['plan_list_price']-transaction_before_jan['actual_amount_paid']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
transaction_before_jan[transaction_before_jan['discount']>0]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
1393969,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,41,30,149,119,1,20150312,20150411,0,30
17836120,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,41,30,149,119,1,20150411,20150511,0,30
20878462,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,41,30,149,119,1,20150611,20150711,0,30
11810905,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,41,30,149,119,1,20150711,20150811,0,30
18083802,++3A6JMzYJeron30GTcDostfXoAl8rTBuB2M8GeVdNU=,41,30,149,119,1,20150811,20150911,0,30
...,...,...,...,...,...,...,...,...,...,...
3619432,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,119,1,20150604,20150705,0,30
19070885,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,119,1,20150704,20150805,0,30
1969139,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,119,1,20150804,20150905,0,30
11152271,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,119,1,20150904,20151005,0,30
8289859,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,119,1,20151004,20151105,0,30

In [15]:
transaction_before_jan[transaction_before_jan['discount']<0]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
13256589,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,0,0,149,1,20150430,20150619,0,-149
16459853,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,0,0,149,1,20150426,20150526,0,-149
14737982,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,39,0,0,149,1,20150430,20150623,0,-149
1850208,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,14,0,0,149,1,20150331,20150430,0,-149
19468938,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,14,0,0,149,1,20150630,20150731,0,-149
...,...,...,...,...,...,...,...,...,...,...
380715,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,39,0,0,149,1,20150430,20150610,0,-149
8274487,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,0,0,149,1,20150510,20150610,0,-149
13103918,zzxqpgPX1epGyR3SVRKb3XitWdt+JqDURxV5ea1D7Cg=,38,0,0,149,0,20150505,20150604,0,-149
2688773,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,0,0,149,1,20150430,20150612,0,-149
10886110,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,0,0,119,1,20150504,20150605,0,-119

### Observation:
1. Some entries are missing, hence the negative discount.

In [16]:
#Impute -1 for negative values
def fun(x):
    if x<0:
        return -1
    else:
        return x

In [17]:
transaction_before_jan['discount']=transaction_before_jan['discount'].apply(fun)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
transaction_before_jan[transaction_before_jan['discount']<0]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount
13256589,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,0,0,149,1,20150430,20150619,0,-1
16459853,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,0,0,149,1,20150426,20150526,0,-1
14737982,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,39,0,0,149,1,20150430,20150623,0,-1
1850208,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,14,0,0,149,1,20150331,20150430,0,-1
19468938,++/ZHqwUNa7U21Qz+zqteiXlZapxey86l6eEorrak/g=,14,0,0,149,1,20150630,20150731,0,-1
...,...,...,...,...,...,...,...,...,...,...
380715,zzxPS8+wCuE4HE85EDp4WBHgS5l548vfwXJbQq1HZ9I=,39,0,0,149,1,20150430,20150610,0,-1
8274487,zzxZeMFx2fjfKZigMnJa2w0EmloDbm8+8nTf/o/00GY=,41,0,0,149,1,20150510,20150610,0,-1
13103918,zzxqpgPX1epGyR3SVRKb3XitWdt+JqDURxV5ea1D7Cg=,38,0,0,149,0,20150505,20150604,0,-1
2688773,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,0,0,149,1,20150430,20150612,0,-1
10886110,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,0,0,119,1,20150504,20150605,0,-1

In [19]:
transaction_before_jan['per_day_price']=transaction_before_jan['plan_list_price']/transaction_before_jan['payment_plan_days']

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,per_day_price
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,0,4.360976
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0,0,3.300000
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,0,3.300000
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0,0,4.806452
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0,0,4.806452
...,...,...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,0,3.300000
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0,0,3.300000
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0,0,3.300000
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0,0,3.300000
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,0,3.300000

In [21]:
#for missing entries, per day price will  be NaN
#replace it with -1
transaction_before_jan['per_day_price']=transaction_before_jan['per_day_price'].fillna(-1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
#https://stackoverflow.com/a/19464054
#check if two consecutive rows of msno and membership column are not same
c=transaction_before_jan[['msno','membership_expire_date']].shift(1) != transaction_before_jan[['msno','membership_expire_date']]

In [23]:
c

           msno  membership_expire_date
1521480    True                    True
1498592    True                    True
17923235  False                    True
7798380    True                    True
14494860  False                    True
...         ...                     ...
21136039  False                    True
20019805  False                    True
8509796   False                    True
600364    False                    True
11302263  False                    True

[13612134 rows x 2 columns]

In [24]:
def fun(x):
    return x[0] or x[1] #both false means both msno and membership expiry are same for 2 consecutive rows

In [25]:
index=c.apply(fun, axis=1)

In [26]:
#delete transactions that didn't have any effect on membership expiry date. 
#Ie. drop 2 consectuives duplicates (membership_expiry column). keep='first'
#(this step can be skipped in this notebook,because it doesn't make difference. 
#but needed for other features like last n churn)
transaction_before_jan=transaction_before_jan[index]

In [27]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,per_day_price
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,0,4.360976
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0,0,3.300000
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,0,3.300000
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0,0,4.806452
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0,0,4.806452
...,...,...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,0,3.300000
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0,0,3.300000
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0,0,3.300000
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0,0,3.300000
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,0,3.300000

## Sum_count_and_average_features:

In [28]:
t_sum=transaction_before_jan.groupby(['msno'], as_index=False)['actual_amount_paid','payment_plan_days','discount','per_day_price'].sum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [29]:
t_sum

,msno,actual_amount_paid,payment_plan_days,discount,per_day_price
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,1788,410,0,4.360976
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,198,60,0,6.600000
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,2682,513,-1,82.952688
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,3576,690,-1,113.233333
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1490,300,0,49.666667
...,...,...,...,...,...
952603,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,720,120,0,24.000000
952604,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,3129,630,0,104.300000
952605,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,2086,393,-1,63.086022
952606,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,3246,690,269,112.233333
952607,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,990,300,0,33.000000

In [43]:
t_count=transaction_before_jan.groupby(['msno'], as_index=False)['actual_amount_paid','payment_plan_days','discount','per_day_price'].count()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [44]:
t_count

,msno,actual_amount_paid,payment_plan_days,discount,per_day_price
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,1,1,1,1
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2,2,2,2
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,18,18,18,18
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,24,24,24,24
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,10,10,10,10
...,...,...,...,...,...
952603,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,4,4,4,4
952604,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,21,21,21,21
952605,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,14,14,14,14
952606,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,24,24,24,24
952607,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,10,10,10,10

In [45]:
t_count[['actual_amount_paid_avg','payment_plan_days_avg','discount_avg','per_day_price_avg']]=t_sum[['actual_amount_paid','payment_plan_days','discount','per_day_price']]/t_count[['actual_amount_paid','payment_plan_days','discount','per_day_price']]

In [46]:
t_count=t_count[['msno','actual_amount_paid','actual_amount_paid_avg','payment_plan_days_avg','discount_avg','per_day_price_avg']]

In [48]:
t_count.columns=['msno','count','actual_amount_paid_avg','payment_plan_days_avg','discount_avg','per_day_price_avg']

In [49]:
t_count

,msno,count,actual_amount_paid_avg,payment_plan_days_avg,discount_avg,per_day_price_avg
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,1,1788.00,410.000000,0.000000,4.360976
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,2,99.00,30.000000,0.000000,3.300000
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,18,149.00,28.500000,-0.055556,4.608483
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,24,149.00,28.750000,-0.041667,4.718056
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,10,149.00,30.000000,0.000000,4.966667
...,...,...,...,...,...,...
952603,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,4,180.00,30.000000,0.000000,6.000000
952604,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,21,149.00,30.000000,0.000000,4.966667
952605,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,14,149.00,28.071429,-0.071429,4.506144
952606,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,24,135.25,28.750000,11.208333,4.676389
952607,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,10,99.00,30.000000,0.000000,3.300000

In [50]:
#replace negative values by -1 because -1 divided by count gives different values for different users.
def fun(x):
    if x<0:
        return -1
    else:
        return x

In [51]:
t_count['discount_avg']=t_count['discount_avg'].apply(fun)
t_count['per_day_price_avg']=t_count['per_day_price_avg'].apply(fun)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [52]:
t_sum=t_sum.merge(t_count,on='msno')

In [53]:
t_sum

,msno,actual_amount_paid,payment_plan_days,discount,per_day_price,count,actual_amount_paid_avg,payment_plan_days_avg,discount_avg,per_day_price_avg
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,1788,410,0,4.360976,1,1788.00,410.000000,0.000000,4.360976
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,198,60,0,6.600000,2,99.00,30.000000,0.000000,3.300000
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,2682,513,-1,82.952688,18,149.00,28.500000,-1.000000,4.608483
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,3576,690,-1,113.233333,24,149.00,28.750000,-1.000000,4.718056
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1490,300,0,49.666667,10,149.00,30.000000,0.000000,4.966667
...,...,...,...,...,...,...,...,...,...,...
952603,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,720,120,0,24.000000,4,180.00,30.000000,0.000000,6.000000
952604,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,3129,630,0,104.300000,21,149.00,30.000000,0.000000,4.966667
952605,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,2086,393,-1,63.086022,14,149.00,28.071429,-1.000000,4.506144
952606,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,3246,690,269,112.233333,24,135.25,28.750000,11.208333,4.676389
952607,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,990,300,0,33.000000,10,99.00,30.000000,0.000000,3.300000

### Observation:
1. Some msnos are missing.

In [60]:
#add missing msnos and order based on train_msno order.
t_sum=pd.DataFrame(Train_msno[:,0],columns=['msno']).merge(t_sum,on='msno',how='left')

In [62]:
#replace NaN with -1
t_sum=t_sum.fillna(-1)

In [64]:
t_sum=t_sum.drop(['msno'],axis=1)

In [67]:
t_sum

,actual_amount_paid,payment_plan_days,discount,per_day_price,count,actual_amount_paid_avg,payment_plan_days_avg,discount_avg,per_day_price_avg
0,1788.0,410.0,0.0,4.360976,1.0,1788.00,410.000000,0.000000,4.360976
1,198.0,60.0,0.0,6.600000,2.0,99.00,30.000000,0.000000,3.300000
2,2682.0,513.0,-1.0,82.952688,18.0,149.00,28.500000,-1.000000,4.608483
3,3576.0,690.0,-1.0,113.233333,24.0,149.00,28.750000,-1.000000,4.718056
4,1490.0,300.0,0.0,49.666667,10.0,149.00,30.000000,0.000000,4.966667
...,...,...,...,...,...,...,...,...,...
956322,720.0,120.0,0.0,24.000000,4.0,180.00,30.000000,0.000000,6.000000
956323,3129.0,630.0,0.0,104.300000,21.0,149.00,30.000000,0.000000,4.966667
956324,2086.0,393.0,-1.0,63.086022,14.0,149.00,28.071429,-1.000000,4.506144
956325,3246.0,690.0,269.0,112.233333,24.0,135.25,28.750000,11.208333,4.676389
956326,990.0,300.0,0.0,33.000000,10.0,99.00,30.000000,0.000000,3.300000

In [66]:
np.array(t_sum)

array([[ 1.78800000e+03,  4.10000000e+02,  0.00000000e+00, ...,
         4.10000000e+02,  0.00000000e+00,  4.36097561e+00],
       [ 1.98000000e+02,  6.00000000e+01,  0.00000000e+00, ...,
         3.00000000e+01,  0.00000000e+00,  3.30000000e+00],
       [ 2.68200000e+03,  5.13000000e+02, -1.00000000e+00, ...,
         2.85000000e+01, -1.00000000e+00,  4.60848268e+00],
       ...,
       [ 2.08600000e+03,  3.93000000e+02, -1.00000000e+00, ...,
         2.80714286e+01, -1.00000000e+00,  4.50614439e+00],
       [ 3.24600000e+03,  6.90000000e+02,  2.69000000e+02, ...,
         2.87500000e+01,  1.12083333e+01,  4.67638889e+00],
       [ 9.90000000e+02,  3.00000000e+02,  0.00000000e+00, ...,
         3.00000000e+01,  0.00000000e+00,  3.30000000e+00]])

In [68]:
np.save('transact_sum_count_avg_features',np.array(t_sum))

## Last_5_Features:

In [41]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,per_day_price
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,0,4.360976
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0,0,3.300000
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,0,3.300000
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0,0,4.806452
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0,0,4.806452
...,...,...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,0,3.300000
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0,0,3.300000
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0,0,3.300000
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0,0,3.300000
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,0,3.300000

In [43]:
#retain only last 5 transactions
transaction_before_jan_5=transaction_before_jan.groupby(['msno']).tail(5)

In [57]:
transaction_before_jan_5

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,per_day_price
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,0,4.360976
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0,0,3.300000
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,0,3.300000
5554289,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20160831,20161019,0,0,4.966667
7048805,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20160930,20161119,0,0,4.966667
...,...,...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,0,3.300000
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0,0,3.300000
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0,0,3.300000
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0,0,3.300000
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,0,3.300000

In [60]:
transaction_before_jan_5[transaction_before_jan_5['discount']>0]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,discount,per_day_price
17029703,++92FghbCQPqDmQ96QzNiuEMoDxrMOmuaisu1UCrYn0=,23,30,149,129,1,20160930,20161031,0,20,4.966667
10506391,++92FghbCQPqDmQ96QzNiuEMoDxrMOmuaisu1UCrYn0=,23,30,149,129,1,20161031,20161130,0,20,4.966667
10248237,++92FghbCQPqDmQ96QzNiuEMoDxrMOmuaisu1UCrYn0=,23,30,149,129,1,20161130,20161231,0,20,4.966667
14155815,+/0rt5UcoaXHYaPjs19hcfE6kc0iwzbQ0CvQEU5GTB4=,40,31,149,0,1,20150206,20150305,0,149,4.806452
10792546,+/DeBhiW5LND3SujRvV518ErN5uwW5aFnESnUA25uD4=,40,30,149,0,1,20151123,20151223,0,149,4.966667
...,...,...,...,...,...,...,...,...,...,...,...
14124955,zy7NgiJ+5OjXWzLXamzKLuH4RFGlTe6d0zXmGHN/4DI=,23,30,149,129,1,20161130,20161231,0,20,4.966667
5027323,zy7NgiJ+5OjXWzLXamzKLuH4RFGlTe6d0zXmGHN/4DI=,23,30,149,129,1,20161231,20170131,0,20,4.966667
3731774,zyyO4OWFMWBiF9MaGZfHNI92PB3xuBz36LJUKbQmzrk=,41,30,149,0,1,20160811,20160910,0,149,4.966667
15068957,zzFsYo515M3PZ4FMmBEfJNYlu10aH24Gxq+YviuVLu8=,41,30,120,0,1,20160204,20170203,0,120,4.000000
15636108,zzOxpxMVkK7fowYx+TYEtebtck2t81ZzZ1U/dU6wmxA=,41,30,149,0,1,20151219,20160118,0,149,4.966667

In [69]:
msno=transaction_before_jan_5['msno'].to_numpy()
Last_5_discount=transaction_before_jan_5['discount'].to_numpy()
Last_5_payment_plan_days=transaction_before_jan_5['payment_plan_days'].to_numpy()
Last_5_actual_amount_paid=transaction_before_jan_5['actual_amount_paid'].to_numpy()
Last_5_per_day_price=transaction_before_jan_5['per_day_price'].to_numpy()

In [47]:
#map order of all msno in train to its ascending order position starting from 0
transaction_last_expiry_msno_final=np.load('transaction_last_expiry_msno_final.npy',allow_pickle=True)
transaction_last_expiry_msno_final=transaction_last_expiry_msno_final[:,0]#contains msno in ascending order

In [48]:
transaction_last_expiry_msno_final

array(['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=',
       '+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=',
       '+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', ...,
       'zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=',
       'zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=',
       'zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ='], dtype=object)

In [49]:
index=np.arange(956327)

In [50]:
dic=np.vstack((transaction_last_expiry_msno_final,index)).T

In [51]:
dic[0]

array(['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', 0], dtype=object)

In [52]:
dic=dict(dic)

In [53]:
dic['+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=']

1

#### Last_5_discount:

In [65]:
#array to hold last 5 not churn feature
Last_5_not_churns=np.full((956327, 5), -1) #default value -1 meaning no transaction. Also index 5=last1 churn(becasue of asecending order)
count=0
index=-1
for i in range(4405223):
    ind=dic[msno[i]]
    if ind==index:
        count+=1
    else: #arrange values in right position and change 'count' to 0
        if count==3:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][3]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][1]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        elif count==2:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==1:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==0:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        count=0
    index=ind
    Last_5_not_churns[index][count]=Last_5_discount[i]

In [66]:
Last_5_not_churns[0:5]

array([[-1, -1, -1, -1,  0],
       [-1, -1, -1,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0]])

In [67]:
np.save('Last_5_discount',Last_5_not_churns)

#### Last_5_payment_plan_days:

In [70]:
#array to hold last 5 not churn feature
Last_5_not_churns=np.full((956327, 5), -1) #default value -1 meaning no transaction. Also index 5=last1 churn(becasue of asecending order)
count=0
index=-1
for i in range(4405223):
    ind=dic[msno[i]]
    if ind==index:
        count+=1
    else: #arrange values in right position and change 'count' to 0
        if count==3:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][3]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][1]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        elif count==2:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==1:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==0:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        count=0
    index=ind
    Last_5_not_churns[index][count]=Last_5_payment_plan_days[i]

In [71]:
Last_5_not_churns[0:5]

array([[ -1,  -1,  -1,  -1, 410],
       [ -1,  -1,  -1,  30,  30],
       [ 30,  30,  30,  30,  30],
       [ 30,  30,  30,  30,  30],
       [ 30,  30,  30,  30,  30]])

In [72]:
np.save('Last_5_payment_plan_days',Last_5_not_churns)

#### Last_5_actual_amount_paid:

In [73]:
#array to hold last 5 not churn feature
Last_5_not_churns=np.full((956327, 5), -1) #default value -1 meaning no transaction. Also index 5=last1 churn(becasue of asecending order)
count=0
index=-1
for i in range(4405223):
    ind=dic[msno[i]]
    if ind==index:
        count+=1
    else: #arrange values in right position and change 'count' to 0
        if count==3:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][3]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][1]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        elif count==2:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==1:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==0:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        count=0
    index=ind
    Last_5_not_churns[index][count]=Last_5_actual_amount_paid[i]

In [74]:
Last_5_not_churns[0:5]

array([[  -1,   -1,   -1,   -1, 1788],
       [  -1,   -1,   -1,   99,   99],
       [ 149,  149,  149,  149,  149],
       [ 149,  149,  149,  149,  149],
       [ 149,  149,  149,  149,  149]])

In [75]:
np.save('Last_5_actual_amount_paid',Last_5_not_churns)

#### Last_5_per_day_price:

In [84]:
#array to hold last 5 not churn feature
Last_5_not_churns=np.full((956327, 5), -1.0) #default value -1 meaning no transaction. Also index 5=last1 churn(becasue of asecending order)
count=0
index=-1
for i in range(4405223):
    ind=dic[msno[i]]
    if ind==index:
        count+=1
    else: #arrange values in right position and change 'count' to 0
        if count==3:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][3]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][1]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        elif count==2:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==1:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==0:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        count=0
    index=ind
    Last_5_not_churns[index][count]=Last_5_per_day_price[i]

In [85]:
Last_5_not_churns[0:5]

array([[-1.        , -1.        , -1.        , -1.        ,  4.36097561],
       [-1.        , -1.        , -1.        ,  3.3       ,  3.3       ],
       [ 4.96666667,  4.96666667,  4.96666667,  4.96666667,  4.96666667],
       [ 4.96666667,  4.96666667,  4.96666667,  4.96666667,  4.96666667],
       [ 4.96666667,  4.96666667,  4.96666667,  4.96666667,  4.96666667]])

In [86]:
np.save('Last_5_per_day_price',Last_5_not_churns)

## Final Transact Additional:

In [1]:
import pandas as pd

final_transact=pd.read_csv('final_transact_train.csv')

In [2]:
final_transact

,Unnamed: 0,msno,Label,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,38.0,410.0,1788.0,1788.0,0.0,20151121.0,20170104.0,0.0
1,1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1,41.0,30.0,99.0,99.0,1.0,20161215.0,20170115.0,0.0
2,2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1,39.0,30.0,149.0,149.0,1.0,20161130.0,20170119.0,0.0
3,3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,41.0,30.0,149.0,149.0,1.0,20161226.0,20170126.0,0.0
4,4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1,41.0,30.0,149.0,149.0,1.0,20161215.0,20170115.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
956322,956322,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,36.0,30.0,180.0,180.0,0.0,20161230.0,20170129.0,0.0
956323,956323,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,0,41.0,30.0,149.0,149.0,1.0,20161214.0,20170114.0,0.0
956324,956324,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,39.0,30.0,149.0,149.0,1.0,20161130.0,20170124.0,0.0
956325,956325,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,41.0,30.0,149.0,149.0,1.0,20161204.0,20170105.0,0.0
956326,956326,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41.0,30.0,99.0,99.0,1.0,20161204.0,20170104.0,0.0

In [3]:
#https://stackoverflow.com/questions/27506367/python-pandas-integer-yyyymmdd-to-datetime
#convert to datetime format

final_transact['transaction_date']=pd.to_datetime(final_transact['transaction_date'].astype(str), format='%Y%m%d')
final_transact['membership_expire_date']=pd.to_datetime(final_transact['membership_expire_date'].astype(str), format='%Y%m%d')

#### Expiry_Transaction_interval:

In [4]:
Expiry_Transaction_interval=final_transact['membership_expire_date']-final_transact['transaction_date']

In [5]:
Expiry_Transaction_interval

0        410 days
1         31 days
2         50 days
3         31 days
4         31 days
           ...
956322    30 days
956323    31 days
956324    55 days
956325    32 days
956326    31 days
Length: 956327, dtype: timedelta64[ns]

In [6]:
#https://stackoverflow.com/a/18215499
#convert date format to int
import numpy as np

Expiry_Transaction_interval/np.timedelta64(1, 'D')

0         410.0
1          31.0
2          50.0
3          31.0
4          31.0
          ...
956322     30.0
956323     31.0
956324     55.0
956325     32.0
956326     31.0
Length: 956327, dtype: float64

In [7]:
Expiry_Transaction_interval=Expiry_Transaction_interval/np.timedelta64(1, 'D')

In [8]:
#Negative values mean 'is_cancel'=1 transaction
#These data points should not be part of train data(It was added for other problem statement not kaggle challenge)
#Will be removed later. SO, this step can be skipped.
Expiry_Transaction_interval[Expiry_Transaction_interval<0]=-1

In [9]:
np.save('Expiry_Transaction_interval',Expiry_Transaction_interval)

#### Days_since_final_transact:

In [10]:
Days_since_final_transact=pd.to_datetime(20170101,format='%Y%m%d')-final_transact['transaction_date']

In [11]:
Days_since_final_transact

0        407 days
1         17 days
2         32 days
3          6 days
4         17 days
           ...
956322     2 days
956323    18 days
956324    32 days
956325    28 days
956326    28 days
Name: transaction_date, Length: 956327, dtype: timedelta64[ns]

In [12]:
#convert to int
Days_since_final_transact=Days_since_final_transact/np.timedelta64(1, 'D')

In [13]:
Days_since_final_transact

0         407.0
1          17.0
2          32.0
3           6.0
4          17.0
          ...
956322      2.0
956323     18.0
956324     32.0
956325     28.0
956326     28.0
Name: transaction_date, Length: 956327, dtype: float64

In [14]:
np.save('Days_since_final_transact',Days_since_final_transact)

#### Days_Left:

In [15]:
Days_Left=final_transact['membership_expire_date']-pd.to_datetime(20161231,format='%Y%m%d')

In [16]:
#days left for expiry
Days_Left

0         4 days
1        15 days
2        19 days
3        26 days
4        15 days
           ...
956322   29 days
956323   14 days
956324   24 days
956325    5 days
956326    4 days
Name: membership_expire_date, Length: 956327, dtype: timedelta64[ns]

In [17]:
#convert to int
Days_Left=Days_Left/np.timedelta64(1, 'D')

In [18]:
np.save('Days_Left',Days_Left)

#### Payment_plan_days_subract_interval:

In [19]:
#This feature implies how early the user pays before expiry
final_transact['Expiry_Transaction_interval']=Expiry_Transaction_interval

In [20]:
Expiry_Transaction_interval-final_transact['payment_plan_days']

0          0.0
1          1.0
2         20.0
3          1.0
4          1.0
          ...
956322     0.0
956323     1.0
956324    25.0
956325     2.0
956326     1.0
Length: 956327, dtype: float64

In [21]:
Payment_plan_days_subract_interval=Expiry_Transaction_interval-final_transact['payment_plan_days']

In [22]:
np.save('Payment_plan_days_subract_interval',Payment_plan_days_subract_interval)

In [23]:
Days_Left=np.load('Days_Left.npy')
Days_since_final_transact=np.load('Days_since_final_transact.npy')
Expiry_Transaction_interval=np.load('Expiry_Transaction_interval.npy')
Payment_plan_days_subract_interval=np.load('Payment_plan_days_subract_interval.npy')

In [24]:
Final_Add=np.hstack((Days_Left.reshape(-1,1),Days_since_final_transact.reshape(-1,1),Expiry_Transaction_interval.reshape(-1,1),Payment_plan_days_subract_interval.reshape(-1,1)))

In [25]:
Final_Add.shape

(956327, 4)

In [26]:
np.save('Final_Add.npy',Final_Add)