## Train_msno:

In [1]:
import numpy as np

Train_msno=np.load('Train_msno_and_label_order.npy',allow_pickle=True)

In [2]:
Train_msno.shape

(956327, 2)

In [3]:
import pandas as pd

Train_msno=pd.DataFrame(Train_msno,columns=['msno', 'Label'])

## Transactions

In [4]:
import pandas as pd

transaction=pd.read_csv('transactions.csv')

In [5]:
transaction.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [6]:
#Select transaction period before 2017-01-01
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column
transaction_before_jan=transaction[transaction['transaction_date'].le(20161231)]

In [7]:
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column
transaction_before_jan=transaction_before_jan[transaction_before_jan['membership_expire_date'].le(20170131)]

In [8]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
...,...,...,...,...,...,...,...,...,...
21547741,6AO1oJjW3YT1adWzyWhzf8hlyjeOuQatudP8FF13UB4=,38,30,149,149,0,20151030,20151129,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,20161129,20161229,0
21547744,a84q/Ts47Oyyqc1N1WRasBdbgYSF/f3uqBcEAPNemoM=,41,30,99,99,1,20161130,20161231,0
21547745,oE4y2wK5E7OR8zyrCHeW02uTeI6wTwT4QTApEVBNEdM=,41,30,149,0,1,20151029,20151029,1

In [9]:
transaction_before_jan=transaction_before_jan[transaction_before_jan['msno'].isin(Train_msno['msno'])]

In [10]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0
5,KN7I82kjY0Tn76Ny95ncqBUVbO7b8AXrOPqZutKpxIM=,21,30,149,149,1,20150930,20151107,0
6,m5ptKif9BjdUghHXXomSezy5ohJiHm85PE13f/3kQaw=,39,30,149,149,1,20150930,20151128,0
7,uQxbyACsPOEkTIrv9jZgoGXelGBW81ZsSZKy9fhj5Z8=,39,30,149,149,1,20150930,20151125,0
...,...,...,...,...,...,...,...,...,...
21547740,tBYKG/I8+BAQ4BTrc0QT67BDurFV1QFJIc/1qhbZXj4=,41,30,99,99,1,20151030,20151130,0
21547742,wkSSJvM8E1hsNmRYE4vlOcR426v0Kd4L2E++Qxgz/bo=,36,30,150,150,0,20160331,20160530,0
21547743,VQ4KpwvezU3dqq6Bkqfjsmt4fn0JDRckkDoFFt0/UqM=,36,30,180,180,0,20161129,20161229,0
21547744,a84q/Ts47Oyyqc1N1WRasBdbgYSF/f3uqBcEAPNemoM=,41,30,99,99,1,20161130,20161231,0
21547745,oE4y2wK5E7OR8zyrCHeW02uTeI6wTwT4QTApEVBNEdM=,41,30,149,0,1,20151029,20151029,1

In [11]:
transaction_before_jan=transaction_before_jan.sort_values(by=['msno', 'transaction_date'],ascending=[True,True])

In [12]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0
...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

### Total no of cancellations by a user:

In [13]:
#msno in ascending order
Total_no_of_cancellations=transaction_before_jan.groupby(['msno'], as_index=False)['is_cancel'].sum()

In [14]:
Total_no_of_cancellations

                                                msno  is_cancel
0       +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=          0
1       +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=          0
2       +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=          0
3       +++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=          0
4       ++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=          0
...                                              ...        ...
952599  zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=          0
952600  zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=          1
952601  zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=          1
952602  zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=          0
952603  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=          0

[952604 rows x 2 columns]

In [15]:
Total_no_of_cancellations=pd.merge(Train_msno, Total_no_of_cancellations, on='msno',how='left')

In [16]:
Total_no_of_cancellations_fea=Total_no_of_cancellations['is_cancel']
Total_no_of_cancellations_fea=list(Total_no_of_cancellations_fea)

In [17]:
len(Total_no_of_cancellations_fea)

956327

In [18]:
np.save('Total_no_of_cancellations_fea_msno_order',Total_no_of_cancellations_fea)

### Transaction Before Final Transaction Features:

In [13]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0
...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

In [14]:
#https://stackoverflow.com/a/19464054
#check if two consecutive rows of msno and membership column are not same
c=transaction_before_jan[['msno','membership_expire_date','transaction_date','is_cancel']].shift(1) != transaction_before_jan[['msno','membership_expire_date','transaction_date','is_cancel']]

In [15]:
c

           msno  membership_expire_date  transaction_date  is_cancel
1521480    True                    True              True       True
1498592    True                    True              True      False
17923235  False                    True              True      False
7798380    True                    True              True      False
14494860  False                    True              True      False
...         ...                     ...               ...        ...
21136039  False                    True              True      False
20019805  False                    True              True      False
8509796   False                    True              True      False
600364    False                    True              True      False
11302263  False                    True              True      False

[13726987 rows x 4 columns]

In [18]:
def fun(x):
    return (x[0] or x[1]) or (x[2] or x[3])#all false means duplicate row

In [19]:
index=c.apply(fun, axis=1)

In [20]:
index[0:4]

1521480     True
1498592     True
17923235    True
7798380     True
dtype: bool

In [21]:
#delete duplicates 
transaction_before_jan=transaction_before_jan[index]

In [22]:
#keep last before transaction
#https://stackoverflow.com/a/38965036
last_before_transact = transaction_before_jan.groupby(['msno']).tail(2).drop_duplicates(['msno'])

In [23]:
last_before_transact

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
8621629,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20161031,20161219,0
18624604,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,30,149,149,1,20161126,20161226,0
14612469,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,41,30,149,149,1,20161115,20161215,0
...,...,...,...,...,...,...,...,...,...
8658336,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,36,30,180,180,0,20161129,20161229,0
10644047,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,41,30,149,149,1,20161114,20161214,0
15569368,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,30,149,149,1,20161031,20161224,0
13429868,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20161104,20161205,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0

In [24]:
last_before_transact=pd.merge(Train_msno, last_before_transact, on='msno',how='left')

In [25]:
last_before_transact

,msno,Label,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,38.0,410.0,1788.0,1788.0,0.0,20151121.0,20170104.0,0.0
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1,41.0,30.0,99.0,99.0,1.0,20161116.0,20161215.0,0.0
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1,39.0,30.0,149.0,149.0,1.0,20161031.0,20161219.0,0.0
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,41.0,30.0,149.0,149.0,1.0,20161126.0,20161226.0,0.0
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1,41.0,30.0,149.0,149.0,1.0,20161115.0,20161215.0,0.0
...,...,...,...,...,...,...,...,...,...,...
956322,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,36.0,30.0,180.0,180.0,0.0,20161129.0,20161229.0,0.0
956323,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,0,41.0,30.0,149.0,149.0,1.0,20161114.0,20161214.0,0.0
956324,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,39.0,30.0,149.0,149.0,1.0,20161031.0,20161224.0,0.0
956325,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,41.0,30.0,149.0,149.0,1.0,20161104.0,20161205.0,0.0
956326,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41.0,30.0,99.0,99.0,1.0,20161104.0,20161204.0,0.0

In [26]:
#there is one problem here. if a user did only one transaction as of jan 2017
#then there are no duplicates which means the last transaction features will be retained as 
#transaction before last transaction feature.
#to handle this, remove users who had done only one transaction and impute NAN or 0 values.

#### Users who have transacted only once

In [27]:
transaction_before_jan['msno'].head()

1521480     +++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=
1498592     +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=
17923235    +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=
7798380     +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=
14494860    +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=
Name: msno, dtype: object

In [28]:
membrs=transaction_before_jan['msno']

In [29]:
member_and_transact_count=membrs.value_counts(sort=False)

In [30]:
member_and_transact_count.shape

(952604,)

In [31]:
member_and_transact_count.index

Index(['E8VV/BqgH6PpeS61c7bInHXcj92dRJ14viiG6ncI/pE=',
       'gH2VbeNnul6BVplM+pzUnnkCnhJ9kbA8nMNxRZQpRUE=',
       '0ssHnuPSCEaHQY72ATtE+qrNguu5nxlJJvEYgnWjKuQ=',
       'pyNoS/RX2kJ7rTZXXdcMUcqBnbbOuhksVeDr1LyOLkc=',
       'asVWPzN3xbozRxdLPKwOJ576RFFV5X7QbkbVKlwU1Pk=',
       'glIKRxCF2DMas++cvSDySelrWSCIR797tqaboks8Xp8=',
       'ABtJ4kRCqa6oo94mEDsaKqwY83M3jAX6RBtBGfbwcYA=',
       'T5zkd+caBBbd9NaeO1/s0mwuvizSE6HuLUJyL1MxA+c=',
       'HNlr9f2i7gMBaePEd2lSWndHA/evGXi9txxNQL8lPlU=',
       'wXBt+r8Yg4ymYZ1A4m1oNWZ5czxgbpEe0FAZWuWyHck=',
       ...
       'i6M2S7Y4dG3zmh7jgeTaH+yh2oDsxKPhiJjE6nyaY8c=',
       'LhDyYhWKO7IWFEVKj/ddVihKhlwUvnukGADEPH4x1bs=',
       '7yxDDrXR1jSnOFZscOEA3gdHiUB5byTSKiVRa+K8dCQ=',
       'rkHKdWTEUj1nhU3wupSfB8lCWOKPyLcdJOthE2dN6n0=',
       'rA33hyeki004TlEeRwU6KuYuMLgqEKfRM165fdaYj4s=',
       '4+91VHzWrLumbHNGgOezR08wu8AClPS+a38sYtjbprY=',
       'N5ha435WBTLOM9zc25Dox1HGCJhwXX3dcaCfOiFz+Hk=',
       'S3uFUUUA0f3UNfMvGc7DGArZcIDC9s02ZxEAPi9kdWg=',
       'SCxhDutXKs9p5ruxQ0UHmjeHocsvLO24PATCJU2PkYw=',
       'iG0Wpa/U9KFDm1MQlwpWnsPgfhqZR3rKmi9ViTobedk='],
      dtype='object', length=952604)

In [32]:
#find index where count is 1

Indices = np.where(member_and_transact_count == 1)

In [33]:
Indices[0].shape

(42979,)

In [34]:
Indices[0]

array([    66,     75,     81, ..., 952566, 952572, 952576])

In [35]:
msno_only_one_transact=[] #contains msno of users who transacted only once
for i in Indices[0]:
    msno_only_one_transact.append(member_and_transact_count.index[i])

In [36]:
msno_only_one_transact[0]

'Rm8xmrE6fy/IXDvwhbvJtO4IecLtp3+AT7BY8Z3C0aA='

In [37]:
len(msno_only_one_transact)

42979

In [38]:
#https://stackoverflow.com/a/46488571
#Replace msno who did only one transact to NaN
last_before_transact[last_before_transact['msno'].isin(msno_only_one_transact)] = np.nan

In [39]:
last_before_transact

,msno,Label,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1,41.0,30.0,99.0,99.0,1.0,20161116.0,20161215.0,0.0
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1,39.0,30.0,149.0,149.0,1.0,20161031.0,20161219.0,0.0
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,41.0,30.0,149.0,149.0,1.0,20161126.0,20161226.0,0.0
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1,41.0,30.0,149.0,149.0,1.0,20161115.0,20161215.0,0.0
...,...,...,...,...,...,...,...,...,...,...
956322,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,36.0,30.0,180.0,180.0,0.0,20161129.0,20161229.0,0.0
956323,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,0,41.0,30.0,149.0,149.0,1.0,20161114.0,20161214.0,0.0
956324,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,39.0,30.0,149.0,149.0,1.0,20161031.0,20161224.0,0.0
956325,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,41.0,30.0,149.0,149.0,1.0,20161104.0,20161205.0,0.0
956326,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41.0,30.0,99.0,99.0,1.0,20161104.0,20161204.0,0.0

In [40]:
#msno also becomes NaN but its ok. we are anyhow going to leave that column

In [41]:
### Rename columns, B=before last transaction
last_before_transact=last_before_transact.rename(columns={'payment_method_id': 'B_payment_method_id', 'payment_plan_days': 'B_payment_plan_days',\
                                                         'plan_list_price':'B_plan_list_price','actual_amount_paid':'B_actual_amount_paid',\
                                                         'is_auto_renew':'B_is_auto_renew','transaction_date':'B_transaction_date',\
                                                         'membership_expire_date':'B_membership_expire_date','is_cancel':'B_is_cancel'})

In [42]:
#Already ordered in ascending order of msno
last_before_transact=last_before_transact.drop(['msno'], axis=1)

In [43]:
last_before_transact

,Label,B_payment_method_id,B_payment_plan_days,B_plan_list_price,B_actual_amount_paid,B_is_auto_renew,B_transaction_date,B_membership_expire_date,B_is_cancel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,41.0,30.0,99.0,99.0,1.0,20161116.0,20161215.0,0.0
2,1,39.0,30.0,149.0,149.0,1.0,20161031.0,20161219.0,0.0
3,1,41.0,30.0,149.0,149.0,1.0,20161126.0,20161226.0,0.0
4,1,41.0,30.0,149.0,149.0,1.0,20161115.0,20161215.0,0.0
...,...,...,...,...,...,...,...,...,...
956322,1,36.0,30.0,180.0,180.0,0.0,20161129.0,20161229.0,0.0
956323,0,41.0,30.0,149.0,149.0,1.0,20161114.0,20161214.0,0.0
956324,1,39.0,30.0,149.0,149.0,1.0,20161031.0,20161224.0,0.0
956325,1,41.0,30.0,149.0,149.0,1.0,20161104.0,20161205.0,0.0
956326,1,41.0,30.0,99.0,99.0,1.0,20161104.0,20161204.0,0.0

In [44]:
last_before_transact.to_csv('last_before_transact_features_msno_order')

### Final Transaction Features:

In [45]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0
...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

In [46]:
final_transact = transaction_before_jan.groupby(['msno']).tail(1)

In [47]:
final_transact

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
5340639,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20161130,20170119,0
3022995,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,30,149,149,1,20161226,20170126,0
10549676,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,41,30,149,149,1,20161215,20170115,0
...,...,...,...,...,...,...,...,...,...
8138699,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,36,30,180,180,0,20161230,20170129,0
5544506,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,41,30,149,149,1,20161214,20170114,0
4929425,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,30,149,149,1,20161130,20170124,0
12262606,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20161204,20170105,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

In [48]:
final_transact=pd.merge(Train_msno, final_transact, on='msno',how='left')

In [49]:
final_transact

,msno,Label,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,0,38.0,410.0,1788.0,1788.0,0.0,20151121.0,20170104.0,0.0
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1,41.0,30.0,99.0,99.0,1.0,20161215.0,20170115.0,0.0
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1,39.0,30.0,149.0,149.0,1.0,20161130.0,20170119.0,0.0
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1,41.0,30.0,149.0,149.0,1.0,20161226.0,20170126.0,0.0
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1,41.0,30.0,149.0,149.0,1.0,20161215.0,20170115.0,0.0
...,...,...,...,...,...,...,...,...,...,...
956322,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,1,36.0,30.0,180.0,180.0,0.0,20161230.0,20170129.0,0.0
956323,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,0,41.0,30.0,149.0,149.0,1.0,20161214.0,20170114.0,0.0
956324,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,1,39.0,30.0,149.0,149.0,1.0,20161130.0,20170124.0,0.0
956325,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,1,41.0,30.0,149.0,149.0,1.0,20161204.0,20170105.0,0.0
956326,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,1,41.0,30.0,99.0,99.0,1.0,20161204.0,20170104.0,0.0

In [50]:
#need to remove these data points and some other datapoints, will be removed later.
#Train_msno contains msnos according to my problem statement slighlty different from kaggle
final_transact[final_transact['membership_expire_date']<20170101]

,msno,Label,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
47,++CSmvB4ldSO0TeDSMWy9vH0M1oQJN0XXyM7sYLkoTc=,0,41.0,30.0,99.0,99.0,1.0,20161228.0,20161228.0,1.0
58,++FPL1dXZBXC3Cf6gE0HQiIHg1Pd+DBdK7w52xcUmX0=,1,41.0,30.0,149.0,149.0,1.0,20160225.0,20160225.0,1.0
148,++gzbSoJZRJod/mZc38IMuXdshlDpaIS8TU7kiTFXIk=,1,36.0,30.0,180.0,180.0,0.0,20161119.0,20161219.0,0.0
175,++mnT+fA+ilPMzHgEhsyS91vWjM7iRy7//aq/eVTm6s=,1,41.0,30.0,149.0,149.0,1.0,20161203.0,20161203.0,1.0
239,+/3y+kPYUo7hVOhqU7zDnyGx5VqmA/KqPtP5OPJTUIM=,1,27.0,30.0,149.0,149.0,1.0,20161201.0,20161231.0,0.0
...,...,...,...,...,...,...,...,...,...,...
956045,zyfNJM+5K+RZmhBkkSCR27RNmCEfMT3cayH/fJC0tp0=,1,35.0,7.0,0.0,0.0,0.0,20161027.0,20161103.0,0.0
956057,zyijXspTwW+Zo2NFWxHobO/pRaNNPKdcIY/xf7U85gY=,0,35.0,7.0,0.0,0.0,0.0,20161024.0,20161031.0,0.0
956111,zyzuD8CZWo+m2omrow9jvL9Nx6X3xytaCUdt+NW2TJs=,0,38.0,410.0,1788.0,1788.0,0.0,20151030.0,20161213.0,0.0
956249,zzczpASOjsDE36fJt/fUfH69lZxttv1AofG9tX0oBDA=,0,30.0,30.0,129.0,129.0,1.0,20161214.0,20161214.0,1.0
956300,zzrwUzpM5ltYq/xjrAis0KQQAEUBE6IcBPiqFkVu2Bc=,0,37.0,30.0,149.0,149.0,1.0,20161105.0,20161105.0,1.0

In [51]:
final_transact.to_csv('final_transact_train.csv')

## Last_5_not_churns and total_churn_and_not_churn:

In [28]:
#did user not churn in last n times?

In [29]:
#Feature Idea: https://www.kaggle.com/c/kkbox-churn-prediction-challenge/discussion/46078

In [30]:
transaction_before_jan

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0
...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0

In [31]:
#membership expiry date-next transaction date(ie:transaction_date a row below current membership expiry date)
#=gap between expiry and transaction

In [32]:
Transaction_date=transaction_before_jan['transaction_date']

In [33]:
#it is easier to subtract 2 different columns row wise so, moving the transaction date 1 column up
Transaction_date_moved_up=list(Transaction_date)[1:]#removing first element
Transaction_date_moved_up.append(20170101)#adding random value to match the element count. 
#we will remove the last transaction value for each user to avoid mixup between transaction of user and expiry of another user

In [34]:
transaction_before_jan_up=transaction_before_jan

In [35]:
transaction_before_jan_up['Transaction_date_moved_up']=Transaction_date_moved_up

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
transaction_before_jan_up

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,Transaction_date_moved_up
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,20161116
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161116,20161215,0,20161215
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,20150131
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150131,20150319,0,20150228
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,31,149,149,1,20150228,20150419,0,20150331
...,...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160804,20160904,0,20160904
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20160904,20161004,0,20161004
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161004,20161104,0,20161104
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161104,20161204,0,20161204
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,20170101

#### Converting date column to days:

1. Even though in kaggle challenge it was clearly mentioned that "no subscription within 30days of expiry", considering no subscription within a month of expiry may be more appropriate. This is because membership is mostly monthly basis and not based on 30 days. so some users may skip a month and resubscribe next month. This info will be lost because Train data(january) has 31 days. 30 days or month doesn't matter for april month(kaggle set) 
2. eg: expiry on jan 1 resubscribed on feb 1 but the user has churned according to within 30 days assumption but expiry on april 1 resubscribed on may 1, this user has not churned according to 30 days assumption. This variation between train and test set is not good. Hence I will consider 'no subscription with a month' as a churned user.

In [41]:
2017*365+2*30.4167+12 #12 feb 2017

736277.8334

In [42]:
2017*365+3*30.4167+13  #13 mar 2017

736309.2501

In [1]:
736309.2501-736277.8334   #more than one month gap

31.416699999943376

In [44]:
2017*365+1*30.4167+1-(2016*365+12*30.4167+1) #one month gap

30.416299999924377

In [45]:
20170112//10000 #year

2017

In [46]:
20171112%10000//100 #month

11

In [47]:
20170112%100    #day

12

#### Transaction_date_moved_up-membership_expire_date:

In [48]:
def fun(x):
    return (((x[1]//10000*365)+(x[1]%10000//100*30.4167)+(x[1]%100))-
            ((x[0]//10000*365)+(x[0]%10000//100*30.4167)+(x[0]%100)))<31

In [49]:
#https://stackoverflow.com/questions/13331698/how-to-apply-a-function-to-two-columns-of-pandas-dataframe
churns_and_additional_rows=transaction_before_jan_up[['membership_expire_date','Transaction_date_moved_up']]

In [50]:
c=churns_and_additional_rows.apply(fun, axis=1)

In [51]:
negate=list(c)

In [52]:
len(negate)

13641375

In [53]:
np.save('negate',negate)

In [27]:
negate=np.load('negate.npy')

In [54]:
negate[0:5]

[True, True, True, True, True]

In [55]:
#add negate to dataframe
transaction_before_jan_up['Last_not_churn']=negate

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [56]:
#last row of each msno group(row which gets mixed up between 2 users because of transaction_data_moved_up)
ind=transaction_before_jan_up.groupby(['msno']).tail(1)

In [57]:
ind

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,Transaction_date_moved_up,Last_not_churn
1521480,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,38,410,1788,1788,0,20151121,20170104,0,20161116,True
17923235,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41,30,99,99,1,20161215,20170115,0,20150131,True
5340639,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39,30,149,149,1,20161130,20170119,0,20150126,True
3022995,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,41,30,149,149,1,20161226,20170126,0,20160315,True
10549676,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,41,30,149,149,1,20161215,20170115,0,20150131,True
...,...,...,...,...,...,...,...,...,...,...,...
8138699,zzy7iqSpfcRq7R4hmKKuhI+CJRs79a6pteqEggpiNO0=,36,30,180,180,0,20161230,20170129,0,20150422,True
5544506,zzyHq6TK2+cBkeGFUHvh12Z7UxFZiSM7dOOSllSBPDw=,41,30,149,149,1,20161214,20170114,0,20150213,True
4929425,zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=,39,30,149,149,1,20161130,20170124,0,20150104,True
12262606,zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=,41,30,149,149,1,20161204,20170105,0,20160304,True
11302263,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41,30,99,99,1,20161204,20170104,0,20170101,True

### Total_churn_and_not_churn_count:

In [58]:
#replace last row of each group by NaN. Lst row is last transact, we already have those features.
#https://stackoverflow.com/a/28902170
transaction_before_jan_up=transaction_before_jan_up[~transaction_before_jan_up.isin(ind)]

In [59]:
transaction_before_jan_up

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,Transaction_date_moved_up,Last_not_churn
1521480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1498592,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,41.0,30.0,99.0,99.0,1.0,20161116.0,20161215.0,0.0,20161215.0,1.0
17923235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798380,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39.0,31.0,149.0,149.0,1.0,20150131.0,20150319.0,0.0,20150228.0,1.0
14494860,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,39.0,31.0,149.0,149.0,1.0,20150228.0,20150419.0,0.0,20150331.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
21136039,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41.0,30.0,99.0,99.0,1.0,20160804.0,20160904.0,0.0,20160904.0,1.0
20019805,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41.0,30.0,99.0,99.0,1.0,20160904.0,20161004.0,0.0,20161004.0,1.0
8509796,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41.0,30.0,99.0,99.0,1.0,20161004.0,20161104.0,0.0,20161104.0,1.0
600364,zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=,41.0,30.0,99.0,99.0,1.0,20161104.0,20161204.0,0.0,20161204.0,1.0
11302263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
transaction_before_jan_up_1=transaction_before_jan_up.dropna()

In [61]:
transaction_before_jan_up_1=transaction_before_jan_up_1[['msno','Last_not_churn']]

In [62]:
transaction_before_jan_up_1

                                                  msno  Last_not_churn
1498592   +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=             1.0
7798380   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
14494860  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
11014601  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
13256589  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
...                                                ...             ...
13557324  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
21136039  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
20019805  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
8509796   zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
600364    zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0

[12688771 rows x 2 columns]

In [63]:
msno=transaction_before_jan_up_1['msno'].to_numpy()
Last_not_churn=transaction_before_jan_up_1['Last_not_churn'].to_numpy()

In [64]:
#map order of all msno in train to its ascending order position starting from 0
transaction_last_expiry_msno_final=np.load('transaction_last_expiry_msno_final.npy',allow_pickle=True)
transaction_last_expiry_msno_final=transaction_last_expiry_msno_final[:,0]#contains msno in ascending order

In [65]:
index=np.arange(956327)

In [66]:
dic=np.vstack((transaction_last_expiry_msno_final,index)).T

In [67]:
dic[0]

array(['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', 0], dtype=object)

In [68]:
dic=dict(dic)

In [69]:
dic['+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=']

1

In [70]:
#array to hold total churn and not churn count 
Total_churn_and_not_churn_count=np.full((956327,2), 0) #default value 0 meaning no previous not churn.
for i in range(12688771):
    ind=dic[msno[i]]
    if Last_not_churn[i]==1: #not churn
        Total_churn_and_not_churn_count[ind][1]+=1
    else: #churn
        Total_churn_and_not_churn_count[ind][0]+=1

In [71]:
Total_churn_and_not_churn_count[0:5]

array([[ 0,  0],
       [ 0,  1],
       [ 1, 15],
       [ 0, 23],
       [ 0,  9]])

In [72]:
np.save('Total_churn_and_not_churn_count',Total_churn_and_not_churn_count)

### Last_5_not_churns:

In [73]:
#retain only last 5 not churn for each group(ie:msno)
transaction_before_jan_up=transaction_before_jan_up.groupby(['msno']).tail(5)

In [74]:
transaction_before_jan_up=transaction_before_jan_up.dropna()

In [75]:
transaction_before_jan_up=transaction_before_jan_up[['msno','Last_not_churn']]

In [76]:
transaction_before_jan_up #contains only users who have trasacted more than once.

                                                  msno  Last_not_churn
1498592   +++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=             1.0
3593643   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             0.0
16269015  +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
5554289   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
7048805   +++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=             1.0
...                                                ...             ...
13557324  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
21136039  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
20019805  zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
8509796   zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0
600364    zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ=             1.0

[4239356 rows x 2 columns]

In [77]:
msno=transaction_before_jan_up['msno'].to_numpy()
Last_not_churn=transaction_before_jan_up['Last_not_churn'].to_numpy()

In [78]:
#map order of all msno in train to its ascending order position starting from 0
transaction_last_expiry_msno_final=np.load('transaction_last_expiry_msno_final.npy',allow_pickle=True)
transaction_last_expiry_msno_final=transaction_last_expiry_msno_final[:,0]#contains msno in ascending order

In [79]:
transaction_last_expiry_msno_final

array(['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=',
       '+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=',
       '+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=', ...,
       'zzz1Dc3P9s53HAowRTrm3fNsWju5yeN4YBfNDq7Z99Q=',
       'zzz4xr5LLzoxUqD6LfKiieCt8Or4dUWFQ0RA5gmkx8I=',
       'zzzN9thH22os1dRS0VHReY/8FTfGHOi86//d+wGGFsQ='], dtype=object)

In [80]:
index=np.arange(956327)

In [81]:
dic=np.vstack((transaction_last_expiry_msno_final,index)).T

In [82]:
dic[0]

array(['+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=', 0], dtype=object)

In [83]:
dic=dict(dic)

In [84]:
dic['+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=']

1

In [85]:
#array to hold last 5 not churn feature
Last_5_not_churns=np.full((956327, 5), -1) #default value -1 meaning no transaction. Also index 5=last1 churn(becasue of asecending order)
count=0
index=-1
for i in range(4239356):
    ind=dic[msno[i]]
    if ind==index:
        count+=1
    else: #arrange values in right position and change 'count' to 0
        if count==3:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][3]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][1]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        elif count==2:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][2]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][2]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==1:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][1]
            Last_5_not_churns[index][3]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][1]=-1
            Last_5_not_churns[index][0]=-1
        elif count==0:
            Last_5_not_churns[index][4]=Last_5_not_churns[index][0]
            Last_5_not_churns[index][0]=-1
        count=0
    index=ind
    Last_5_not_churns[index][count]=Last_not_churn[i]

In [86]:
Last_5_not_churns[0:5]

array([[-1, -1, -1, -1, -1],
       [-1, -1, -1, -1,  1],
       [ 0,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  1],
       [ 1,  1,  1,  1,  1]])

In [87]:
np.save('Last_5_not_churns',Last_5_not_churns)